<header>
  <div class="content-left">
    <button aria-label="left-sidebar-mobile">Open</button>
  </div>
  <div class="nav-bar">
    <h1>
      ICON
      <span class="text">appName</span>
    </h1>
    <nav>
      <a href="/">LinkOne</a>
      <a href="/">LinkTwo</a>
      <a href="/">LinkThree</a>
    </nav>
  </div>
  <div class="content-center">
    <form id="search" for="search">
      <input name="search" aria-labelledby="search-bar" placeholder="Search..." />
    </form>
  </div>
  <div class="content-right">
    <button aria-label="right-sidebar">Open</button>
  </div>
</header>
