<header #header [class.visible]="showHeader()">
  <div class="content-left">
    <button aria-label="left-sidebar-mobile" (click)="openLeftSidebar()">
      <app-svg icon="hamburger-2" />
    </button>
  </div>
  <div class="nav-bar">
    <app-logo [responsive]="true" color="accent-hvr" />
    <nav>
      <a routerLink="/">Home</a>
      <a routerLink="/users">Users</a>
      <a routerLink="/">LinkThree</a>
    </nav>
  </div>
  <div class="content-center">
    <app-searchbar />
  </div>
  <div class="content-right">
    <button aria-label="right-sidebar" (click)="openRightSidebar()">
      <app-svg icon="layers" />
    </button>
  </div>
</header>
