:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-left: 1rem;
  background: var(--accent);
  box-shadow: var(--shadow-xl);

  h2 {
    margin: 0 auto 0.25rem 0.5rem;
    color: var(--box);
    font-size: var(--text-xs);
    font-weight: 500;
  }

  section {
    display: flex;
    gap: 0.5rem;
  }

  a {
    --color: var(--box);
    padding: 0.25rem;
    color: var(--color);
    border: var(--border) var(--color);
    border-radius: var(--rounded-md);

    &.active { --color: var(--accent); background: var(--box);}
  }
}

ul {
  flex: 1;
  max-width: 100%;
  max-height: 100dvh;
  display: grid;
  align-content: start; /* aligns rows at the top */
  gap: 0.5rem;
  overflow: auto;
  padding: 1rem;
  margin-bottom: 0.5rem;
  transition: var(--transition);
  animation: fadeIn 1s ease;
  opacity: 1;

  &.transitioning { opacity: 0; }

  &.row {
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
  }

  &.col {
    grid-template-columns: repeat(2, 200px); // 2 columns
    margin: 0.25rem auto;
  }

  &.grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); // dynamic grid
  }
}

li > a {
  height: 100%; /* grow element inside <li> wrapper */
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border: var(--border) var(--accent);
  border-radius: var(--rounded-md);
  background: var(--box);
  box-shadow: var(--shadow-xl);
}

h2 {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;

  span {
    color: var(--accent);
    text-wrap: nowrap;
    font-size: var(--text-xs);
    font-weight: 500;
  }
}

.email {
  flex: 1;
  color: var(--text);
  font-size: var(--text-xs);
}

.dob {
  font-size: var(--text-xs);
  font-weight: 600;
  text-align: end;
}

.joined {
  text-align: end;
  font-size: var(--text-sm);
  color: var(--text);

   span {
    color: var(--accent);
    font-weight: 600;
   }
}

.fallback {
  text-align: center;
  margin: 0 auto;
}
