@let u = user();
@if (isLoading()) {
  <div style="margin: 1rem auto;">
    <app-loader />
  </div>
} @else if (u) {
  <div class="user-info">
    <p>
      <span>Name</span>
      <span>{{ u.first_name }} {{ u.last_name }}</span>
    </p>
    <p>
      <span>Email</span>
      <span>{{ u.email }}</span>
    </p>
    <p>
      <span>Date of Birth</span>
      <span>{{ u.dob | date : 'longDate' }}</span>
    </p>
    <p>
      <span>Account Created</span>
      <span>{{ u.created_at | date : 'longDate' }}</span>
    </p>
  </div>
  <div class="dynamic-view">
    @if (activeView() !== 'controls') {
      <button (click)="setView('controls')">Go Back</button>
    }
    @switch (activeView()) {
      @case ('edit')       { <app-user-form [(user)]="user" /> }
      @case ('activities') { <app-user-form [(user)]="user" /> }
      @case ('button 3')   { <app-user-form [(user)]="user" /> }
      @case ('button 4')   { <app-user-form [(user)]="user" /> }
      @case ('button 5')   { <app-user-form [(user)]="user" /> }
      @default {
        <div class="ui-controls">
          @for (view of views; track view) {
            <button (click)="setView(view)" [style.background]="getBg($index)">{{ view }}</button>
          }
        </div>
      }
    }
  </div>
}
